.mainBackground {
	width: 100%;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	h2 {
		font-family: "Roboto", sans-serif;
		font-size: 70px !important;
		font-weight: 800;
		line-height: 82.03px;

		color: #274c5b;
	}
}
